
<%-include("../partials/admin/header") %>

<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Edit Category</h2>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-body">
                    <form type="hidden" id="editCategoryForm" method="post" action="/admin/editCategory/<%= category._id %>" >
                        <input type="hidden" id="categoryId" value="<%= category._id %>" />

                        <div class="mb-4">
                            <label for="category_name" class="form-label">Category Name</label>
                            <input type="text" placeholder="Type here" name="CatName" value="<%= category.Name %>" class="form-control" id="category_name" />
                            
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" id="category-description" name="catDes" class="form-control" rows="4"><%= category.description %></textarea>
                        </div>
                        <div class="d-grid text-end mt-30 col-md-5">
                            <button class="btn btn-success" type="submit">Update category</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

document.getElementById("editCategoryForm").addEventListener("submit",async(e)=>{
    e.preventDefault()
    const id = document.getElementById("categoryId").value
    const catName=document.getElementById("category_name").value
    const catDes=document.getElementById("category-description").value

    try {
        const response = await fetch(`/admin/editCategory/${id}`,{
            method: "POST",
            headers:{
                "Content-Type": "application/json"
            },
            body: JSON.stringify({id, catName, catDes})
        })

        const result = await response.json()
        
        if(response.ok && result.success){
            Swal.fire({
                icon:"success",
                title:"Success",
                text:result.message
            })
        }else{
            Swal.fire({
                icon:"error",
                title:"Oops",
                text:result.message
            }) 
        }
    } catch (error) {
        Swal.fire({
                icon:"error",
                title:"Internal Server Error",
                text:error.message
            })
    }
})

</script>

<%-include("../partials/admin/footer") %>