<%- include("../partials/admin/header") %>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products List</h2>
            <p>Manage your product inventory with ease.</p>
        </div>
        <div>
            <a href="/admin/addProduct" class="btn btn-primary btn-sm rounded">Add Product</a>
        </div>
    </div>

    <div class="card mb-4">
        <!-- Header Section -->
        <header class="card-header">
            <div class="row align-items-center">
                <!-- Checkbox -->
                <div class="col col-check flex-grow-0">
                    <div class="form-check ms-2">
                        <input class="form-check-input" type="checkbox" value="" />
                    </div>
                </div>
                <!-- Category Selection -->
                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                    <select class="form-select">
                        <option selected>All category</option>
                        <% for (let i = 0; i < cat.length; i++) { %>
                        <option value="<%= cat[i].categoryName %>"><%= cat[i].categoryName %></option>
                        <% } %>
                    </select>
                </div>
            </div>
        </header>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Regular Price</th>
                        <th scope="col">Promo Price</th>
                        <th scope="col">Offer</th>
                        <th scope="col">Add/Remove Offer</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = data.length - 1; i >= 0; i--) { %>
                    <tr>
                        
                        <!-- Product Details -->
                        <td>
                           
                           <img src="/<%= data[i].images[0] %>" style="width: 50px; height: 50px; object-fit: cover;">
                               
                        </td>
                        <td>
                            <h6 class="mb-0"><%= data[i].productName %></h6>
                        </td>
                        <td>
                            <p class="text-muted mb-0"><%= data[i].category.categoryName %></p>
                        </td>
                        <!-- Product Prices -->
                        <td>$<%= data[i].regularPrice %></td>
                        <td>$<%= data[i].promotionalPrice %></td>

                        <!-- Product Offer -->
                        <td>
                            <%= data[i].productOffer ? data[i].productOffer + "%"  : '0%' %>
                        </td>
                        <td>
                            <% if(data[i].productOffer === 0) { %>
                                
                            <button class="btn btn-sm font-sm rounded btn-brand" onclick="addOffer('<%= data[i]._id %>')">
                                Add Offer
                            </button>
                            <% } else { %>
                            <button class="btn btn-sm font-sm rounded btn-brand" onclick="removeOffer('<%= data[i]._id %>')">
                                Delete Offer
                            </button>
                            <% } %>
                        </td>

                        <td>
                            <button class="btn btn-primary toggle-status" 
                                    data-id="<%= data[i]._id %>" 
                                    data-status="<%= data[i].isBlocked %>">
                              <%= data[i].isBlocked ? 'Block' : 'UnBlock' %>
                            </button>
                        </td>

                        <td>
                            <div class="d-flex justify-content-end gap-2">
                                <a href="/admin/editProduct/<%= data[i]._id %>" class="btn btn-sm font-sm rounded btn-brand">
                                    <i class="material-icons md-edit"></i> Edit
                                </a>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        
    </div>

    <!-- Pagination Section -->
    <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= currentPage == i ? 'active' : '' %>">
                    <a class="page-link" href="/admin/products?page=<%= i %>"><%= i %></a>
                </li>
                <% } %>
                <% if (currentPage < totalPages) { %>
                <li class="page-item">
                    <a class="page-link" href="/admin/products?page=<%= currentPage + 1 %>">
                        <i class="material-icons md-chevron_right"></i>
                    </a>
                </li>
                <% } %>
            </ul>
        </nav>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    async function addOffer(productId){

        const {value:amount} = await Swal.fire({
    
            title:"Offer in percentage",
            input:"number",
            inputLabel: "percentage",
            inputPlaceholder: "%"

        })

        console.log(`amount is : ${amount}`)
        
        $.ajax({
            url: "/admin/addProductOffer",
            method:"post",
            data:{
                percentage:amount,
                productId:productId
            },
            success:(response)=>{
                if(response.status === true){
                Swal.fire({
                title: "Offer added",
                text: "The offer has been added successfully",
                icon: "success",
                timer: 2000, 
                showConfirmButton: false
            }).then(() => {
                location.reload();
                });
                }else{
                    alert("Failed")
                }
            }
        })
    }

    function removeOffer(productId){
        console.log(`HEY THIS IS PRODUCT ID: ${productId}`)
        try {
            Swal.fire({
                title:"Remove Offer",
                text:"Are you sure you want to remove offer ?",
                icon:"warning",
                showCancelButton:true,
                confirmButtonColor:'#3085d6',
                cancelButtonColor:"d33",
                confirmButtonText:"Confirm",
                timer:5000,
                timerProgressBar:true,
            }).then(async (result)=>{
                if(result.isConfirmed){
                    $.ajax({
                        url:"/admin/removeProductOffer",
                        method:"post",
                        data:{
                            productId:productId, 
                        },
                        success:(response)=>{
                            if(response.status===true){
                                Swal.fire("Offer Removed","The offer has been removed successfully","success")
                                location.reload()
                            }else if(response.status==false){
                                Swal.fire("Failed Removing")
                            }else{
                                alert("Failed")
                            }
                        }
                    })
                }
            })
        } catch (error) {
            console.error(error)
        }
    }

    document.querySelectorAll('.toggle-status').forEach((button)=>{
        
        button.addEventListener("click",function(){
            console.log("SUCCESS 1")
            const productId= this.getAttribute('data-id')
            const currentStatus = this.getAttribute('data-status')==="true"; //doubt

            Swal.fire({
            title:`Are you sure you want to ${currentStatus ? "Block" : "Un-Block"} this product ?`,
            icon:"Warning",
            showCancelButton:true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
        })
        .then((result)=>{
            if(result.isConfirmed) {

                console.log("SUCCESS 3")

                fetch(`toggle-product-status/${productId}`,{
                    method:"put",
                    headers:{
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({isBlocked: !currentStatus})
                })
                .then((res)=> res.json())
                .then((data)=>{
                    if(data.success){
                        console.log("SUCCESS 4")
                        Swal.fire("SUCCESS",data.message,"Change made successfully")
                        .then(()=>{
                            location.reload()
                        })
                    }else{
                        Swal.fire("ERROR",data.message,"Sorry could not make the change!!!")
                    }
                })
                .catch((error)=>{
                    console.error("ERROR ON STATUS FRONTEND: >>  ",error)
                })
            }
        })
        })    
    })



    
</script>

<%- include("../partials/admin/footer") %>
