
<%-include("../partials/admin/header")%>

<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Sellers list</h2>
    </div>
    <div class="card mb-4">
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Seller</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(let i=0;i<data.length;i++){%>
                        <tr>
                            <td width="40%">
                                <a href="#" class="itemside">
                                    <div class="info pl-3">
                                        <h6 class="mb-0 title"><%= data[i].name %></h6>
                                        <small class="text-muted">Seller ID: <%= data[i]._id %></small>
                                    </div>
                                </a>
                            </td>
                            <td><%= data[i].email %></td>
                            <td><%= data[i].phone %></td>
                            <td class="text-end">
                                    <% if(data[i].isBlocked==false){ %>
                                <a href="/admin/blockCustomer?id=<%= data[i]._id %>" class="btn btn-sm btn-danger rounded font-sm mt-15">Block</a>
                                        <% }else{ %>
                                <a href="/admin/unblockCustomer?id=<%= data[i]._id %>" class="btn btn-sm btn-success rounded font-sm mt-15">Unblock</a> 
                                        <% } %>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <!-- table-responsive.// -->
            </div>
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <% for(let i=1;i<=totalPages;i++){ %>
                    <li class="page-item <%=(i===currentPage) ? 'active' :  ''  %>">
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                    <% } %>
            </ul>
        </nav>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const message = urlParams.get('message');
    const type = urlParams.get('type');

    if (message && type) {
        Swal.fire({
            icon: type, 
            title: message,
            confirmButtonText: 'OK'
        });
    }
</script>

<%-include("../partials/admin/footer")%>