<%-include("../partials/user/header")%>

<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Shop</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Shop Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">

        <form method="GET" action="/productList">
            <!-- Search Input -->
            <div class="input-group mb-3">
                <input 
                    type="text" 
                    class="form-control" 
                    name="search" 
                    placeholder="Search by name" 
                    value="<%= search || '' %>">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        
            <!-- Price Range Filters -->
            <div class="form-group">
                <input 
                    type="number" 
                    class="form-control mb-2" 
                    name="minPrice" 
                    placeholder="Min Price" 
                    value="<%= minPrice || '' %>">
            </div>
            <div class="form-group">
                <input 
                    type="number" 
                    class="form-control mb-2" 
                    name="maxPrice" 
                    placeholder="Max Price" 
                    value="<%= maxPrice || '' %>">
            </div>
        
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary btn-block">Apply Filters</button>
        </form>

       
        <div class="col">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="dropdown ml-4">
                            <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                Sort by
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                <a class="dropdown-item" href="?sort=latest">Latest</a>
                                <a class="dropdown-item" href="?sort=lowToHigh">Low to High</a>
                                <a class="dropdown-item" href="?sort=highToLow">High to Low</a>
                            </div>
                        </div>                        
                    </div>
                </div>
                <% for(let i=0;i<product.length;i++) { %>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-2">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="<%= product[i].images[0]  %>" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3"><%= product[i].productName  %></h6>
                            <div class="d-flex justify-content-center">
                                <h6>₹<%= product[i].promotionalPrice  %></h6><h6 class="text-muted ml-2"><del>₹<%= product[i].regularPrice  %></del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="/productDetail/<%= product[i]._id  %>" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        </div>  
                    </div>
                </div>
                <% } %>
                
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>




<%-include("../partials/user/footer")%>